.indexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.voteBar {
  height: 15px;
  width: 100%;
  background-color: #D2D4D7;
  border-radius: 30px;
  margin-top: 5px;
}

.innerBar {
  background-color: black;
  height: 100%;
  /* width: 50%; */
  border-radius: 30px;
  /* animation: innerBarAnim 2s; */
}
/* 
@keyframes innerBarAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
} */


.readHeader {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.header1 {
  font-weight: lighter;
}

.header2 {
  font-weight: bold;
}

.header3 {
  font-weight: bold;
}

.qrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readContainer {
  display: flex;
  margin: 20px;
  max-width: 500px;
  padding: 0 20px;
  width: 100%;
  /* background-color: blue; */
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  /* overflow: hidden; */
  /* max-height: 300px; */
  /* overflow:hidden; */
  margin-bottom: 50px;
}

.readImageContainer {
  display: flex;
  position: relative;
  /* background-color: blue; */
  width: 100%;
  margin-top: 20px;
  max-height: 350px;

}


.readBackImage {
  /* position: absolute; */
  position: relative;
  width: 100%;
  border-radius: 10px;
  /* max-height: 100px; */
  /* overflow: hidden; */
  /* overflow: hidden !important; */
  /* max-height: 300px; */

}

.readImageHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.readImageHeart > img {
  animation: growShrink 2s;
  opacity: 0;
}

@keyframes growShrink {
  0% {
    transform: scale(0.4);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.3);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.readTitle {
  font-size: 1.25em;
}

.readDescription {
  font-size: 0.8em;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.readCard {
  /* background-color: pink; */
  display: flex;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 1px solid black;
  animation: fadeInOpacity 1.5s;
  /* margin: 5px 0; */
  /* padding: */
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.readCardRank {
  flex-basis: 20%;
  /* background-color: blue; */
  width: 100%;
  position: relative;
}

.readCardRank > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.readCard > img {
  flex-basis: 25%;
  max-width: 20%;
  border-radius: 8px;
  /* margin: 5px; */
}

.cardVote {
  flex-basis: 50%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardVote > h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.cardVote > div > span {
  font-size: 0.8em;
  font-weight: lighter;
}

.star {
  width: 100%;
  height: 100%;
  padding: 15px;
  /* background-color: blue; */
}

.commentSection {
  /* overflow: scroll; */
  animation: fadeInOpacity 2s;
  padding-bottom: 50px;
  /* width: 100%; */
  /* background-color: red; */
}

.comment {
  animation: fadeInOpacity 3s;
  padding-bottom: 10px;
}

.comment > h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.comment > p {
  font-size: 0.8em;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-weight: lighter;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 20px 0;
}

.commentHeader > span {
  font-weight: bold;
}

.commentHeader > button {
  background: #1040E2;
  color: #FFF;
  border: 0;
  border-radius: 6px;
  padding: 20px;
  font-weight: bold;
}

.commentHeader > button:hover {
  opacity: 0.8;
  cursor: pointer;
}