.indexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.qrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.readContainer {
  display: flex;
  margin: 20px;
  max-width: 500px;
  width: 100%;
  /* background-color: blue; */
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;

}

.readImageContainer {
  position: relative;
  /* background-color: blue; */
  width: 100%;
  margin-top: 20px;
  /* height: 100%; */
}

.readBackImage {
  /* position: absolute; */
  width: 100%;
  border-radius: 10px;
  /* background-color: blue; */
}

.readImageHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.readImageHeart > img {
  animation: growShrink 1s;
}

@keyframes growShrink {
  0% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.readTitle {
  font-size: 1.25em;
  /* text-align: center; */
}

.readCard {
  /* background-color: pink; */
  display: flex;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 2px solid black;
  animation: fadeInOpacity 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.readCardRank {
  flex-basis: 20%;
  /* background-color: blue; */
  width: 100%;
  position: relative;
}

.readCardRank > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.readCard > img {
  flex-basis: 25%;
  max-width: 20%;
  border-radius: 8px;
  margin: 5px;
}

.cardVote {
  flex-basis: 50%;
  padding-left: 10px;
}

.cardVote > h2 {
  font-size: 1em;
}

.cardVote > span {
  font-size: 0.8em;
}

.star {
  width: 100%;
  height: 100%;
  padding: 15px;
  /* background-color: blue; */
}